body {
    background: url("./images/grass.png") center bottom/ auto 120px repeat-x,
            url("./images/deer.png") center bottom/ auto 400px no-repeat,
            url("./images/cloud.png") center 40px/auto 175px repeat-x,
            url("./images/sun.png") right top/220px auto no-repeat,
            #f5fcff;
    height: 100vh;
    margin: 0;
}