@font-face {
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/Lato-Light.ttf");
}

@font-face {
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: Lato;
    font-weight: 200;
    font-style: normal;
    src: url("../fonts/Lato-Thin.ttf");
}

html {
    font-size: 25px;
    font-family: Lato, sans-serif;
    width: 2551px;
    height: 3579px;
}

body {
    padding: 0 215px;
    /*height: 100vh;*/
}

a:link {
    text-decoration: none;
    color: black;
}

header {
    text-align: center;
    padding-top: 6%;
    padding-bottom: 2%;
}

div.contacts {
    width: 100%;
    height: 9.5%;
    border-top: #d7d7d7 2px solid;
    border-bottom: #d7d7d7 2px solid;
    padding: 70px 0;
    font-size: 0;
}

div.contacts img {
    display: inline-block;
}

span.address {
    font-size: 1rem;
    font-weight: 300;
    display: inline-block;
    width: 180px;
    padding-left: 40px;
    margin-right: 50px;
    padding-top: 25px;
    vertical-align: top;
}

div.telephones {
    margin-left: 10px;
    width: 315px;
    height: 175px;
    background-color: #ffc600;
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
}

div.telephones img {
    margin-right: 20px;
}

div.telephones a {
    padding-top: 30px;
    padding-left: 20px;
    font-weight: 400;
    display: inline-block;
    font-size: 1rem;
    letter-spacing: 2px;
    vertical-align: top;
}

div.network {
    display: inline-block;
    width: 520px;
    height: 175px;
    font-weight: 400;
    letter-spacing: 1px;
    vertical-align: top;
}

div.network img {
    margin-right: 20px;
}

div.network a {
    padding-top: 30px;
    padding-left: 20px;
    font-weight: 400;
    display: inline-block;
    letter-spacing: 2px;
    font-size: 1rem;
}

aside.letter-address {
    display: inline-block;
    width: 220px;
    vertical-align: top;
    padding: 260px 60px 0 0;
    line-height: 1.5;
    font-size: 1.2rem;
}

section.letter {
    display: inline-block;
    font-size: 1.2rem;
    width: 1500px;
    padding-left: 210px;
    padding-top: 150px;
    line-height: 1.5;
}

section.letter h2{
    margin-top: 0;
}

img.sign {
    margin-left: 340px;
    margin-top: 80px;
}

img.logo-bottom {
    display: block;
    margin: 600px auto 50px;
}